* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10% auto;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: radial-gradient(rgba(0, 200, 234, 0.5), white);
}

.store {
  border: 1px solid;
  min-width: 600px;
  max-width: 700px;
  padding: 1.5rem;
  background: azure;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.store__h1 {
  padding-bottom: 15px;
}
